{% load widget_tweaks %}
{% csrf_token %}
{% for field in form.visible_fields %}
<div class="row mb-2">
    {% if field.name != 'remember'%}
    <div class="text-start">
        {{ field.label_tag }}
        <div class=" mt-2">
        {% render_field field class="col-12 mt-2 form-control" %}
        </div>
        {% for error in field.errors %}
        <span class="text-danger mt-2 text-wrap">
        {{ error }}
        </span>
        {% endfor %}
    </div>  
    {% else %}
    <div > <!-- if alignment needed text-start  -->
        <div class="d-inline-block">{{ field.label_tag }} </div>
        <div class="d-inline-block">{{field}} </div>
    </div>
    {%endif%}
</div>
{% endfor %}
{% if form.non_field_errors %}
  <ul class="">
  {% for error in form.non_field_errors %}
  <li class="text-danger">
    {{ error }}
  </li>
  {% endfor %}
  </ul>
{% endif %}
<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>