{% extends 'account/base_acc.html' %}
{% block title %}Password Change{% endblock %}
{% block acc %}
<h3 class="mb-4">Password Change</h3>
<div class="card-body">
    <form class="login" method="POST" action="{% url 'account_change_password' %}" class="needs-validation">
        {% include 'account/_render_form.html' %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-outline-secondary mb-2 mt-2" type="submit">Change password</button>
    </form>
</div>
<div class="card-footer py-2 p-0">
    <p class="mb-2">
        <a class="button text-secondary" href="{% url 'account_reset_password' %}">Forgot password?</a>
    </p>
</div>
{% endblock acc %}