{% extends 'account/base_acc.html' %}
{% block title %}Password Reset{% endblock %}
{% block acc %}
    <h3> Password reset </h3>
    <div class="card-body">
        <form method="POST" action="{% url 'account_reset_password' %}" >
        <p class="text-start">Enter your email address below, and we'll send you an email allowing you to reset your password.</p>
        {% include 'account/_render_form.html' %}
        <button class="btn btn-outline-secondary mb-4 mt-2" type="submit">send mail</button>
        </form>
    </div>
    <div class="card-footer">
        <p>
            <a href="{{ signup_url }}" class="text-secondary">Sign up</a> /
            <a href="{{ login_url }}" class="text-secondary">Sign in</a> /
            <a href="{% url 'main:home' %}" class="text-secondary">Home</a>
        </p>
    </div>
{% endblock%}