{% extends 'account/base_acc.html' %}
{% block title %}Change password{% endblock %}
{% block acc %}


<h3> {% if token_fail%} Bad token {%else %} Change Password {% endif %} </h3>
<div class="card-body">
    {% if token_fail %}
    <p class='text-start col-auto'> The password reset link was invalid, 
        possibly because it has already been used. 
        <a class="button secondaryAction text-secondary" href="{% url 'account_reset_password' %}"> Request a new token </a>
    </p>
    {% else %}
    <form method="POST" action="{{ action_url }}">
        {% include "account/_render_form.html" %}
        <button class="btn btn-outline-secondary mb-4 mt-2" type="submit">Reset</button>
    {%endif%}
</div>
<div class="card-footer">
    <p>
        <a href="{{ login_url }}" class="text-secondary">Sign in</a> /
        <a href="{% url 'main:home' %}" class="text-secondary">Home</a>
    </p>
</div>
{%endblock%}