{% extends 'account/base_acc.html' %}
{% block title %}Reset Email sent{% endblock %}
{% block acc %}

<h3> Password reset </h3>
<div class="card-body">
    <p class='text-start col-auto'> We have sent you an email. If you have not received it please check your spam folder. 
        Otherwise contact us if you do not receive it in a few minutes.
    </p>
</div>
<div class="card-footer">
    <p>
        <a href="{{ login_url }}" class="text-secondary">Sign in</a> /
        <a href="{% url 'main:home' %}" class="text-secondary">Home</a>
    </p>
</div>
{%endblock%}