{% extends 'main/base_products_view.html' %}
{% load static %}
{% load query_transform %}
{% block title%}
{{ slug }}
{% endblock %}


    {%block pageheader%} 
    <h1 class="mb-5"><a class='text-decoration-none text-black' href="#"> {{ slug  }}</a></h1>
    {%endblock pageheader%}
    {% block filters%} 
    <ul class='ps-2  list-unstyled'>
        <div class='mb-3'> Brands 
            {%if 'brand' in request.GET%}
            <a class='text-decoration-none text-secondary float-end' href="{% url 'main:search' %}?{% remove_query 'brand' %}">
                <button class="btn btn-outline-secondary py-1 px-2 float-end"> Clear</button></a>
            {%endif%}
        </div>
        {% for brand in brands %}
        
        <li class='my-2 ps-2'>
            <a class='text-decoration-none text-secondary' href="{% url 'main:search' %}?{% query_add brand=brand.id %}">
            {% comment %} <input type="checkbox" class='filter-checker' {%if brand.checked%} checked {%endif%} id="{{brand.id}}"/><label for="{{brand.id}}">{{brand.name}}</label> {% endcomment %}
            <button class="btn btn-outline-secondary rounded-circle px-2 py-1 border-0" id="{{brand.id}}">
            <span  style='font-family: none; font-size: 20px; line-height: 1;' >{%if brand.checked%}&#x2611;{%else%}&#x2610;{%endif%}</span> </button>
            <label for="{{brand.id}}">{{brand.name}}</label>
            </a>
        </li>
        {%endfor%}
    </ul>
    
    {% comment %} <label for="customRange3" class="form-label">Example range</label>
    <div class="range">
    <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3" />
    </div> {% endcomment %}
    <div class="border-top pt-3">
        <form method="get" action="#" class="row">
            <div class="row pe-0"> 
                <p class='ps-3 pe-0'> Price 
                    <button class="btn btn-outline-secondary py-1 px-2 float-end"> Filter 
                    </button>
                    {%if 'start' in request.GET%}
                    <a class='text-decoration-none text-secondary float-end'  href="{% url 'main:search' %}?{% remove_query 'start' 'end' %}">
                        <button type="button" class="btn btn-outline-secondary py-1 px-2 float-end"> Clear</button>
                    </a>
                    {%endif%}
                </p>
            </div>
            {%for key, value in request.GET.items %}
                {%if key not in 'start,end,page'%}
                <input type="hidden" name="{{key}}" value="{{value}}"/> 
                {%endif%}
            {%endfor%}
            <div class="price-input col-6 ">
                <label for="amount">Start </label>
                <input class='w-100' type="number" name="start" min='{{price.0}}' max="{{price.1}}"  value="{{price.2}}">
            </div>
            <div class="price-input  col-6">
                <label for="amount">End</label>
                <input class='w-100' type="number" name="end" min="{{price.0}}" max="{{price.1}}" value="{{price.3}}">
            </div>
            
        </form>
    </div>
    {% endblock filters %}
                {%block sort%} 
                <a class="btn btn-secondary dropdown-toggle float-end" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Sort by: {{sort }}
                    </a>
                
                    <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'main:search'  %}?{% query sort='Newest' %}">Newest</a></li>
                    <li><a class="dropdown-item" href="{% url 'main:search'  %}?{% query sort='Oldest' %}">Oldest</a></li>
                    <li><a class="dropdown-item" href="{% url 'main:search'  %}?{% query sort='Lowest' %}">Price: low to High</a></li>
                    <li><a class="dropdown-item" href="{% url 'main:search'  %}?{% query sort='Highest' %}">Price: High to low</a></li>
                    {% comment %} <li><a class="dropdown-item" href="#">Rating</a></li> {% endcomment %}
                    </ul>
                {%endblock sort%}
            
    {% comment %} {% for page_number in products.adjusted_elided_pages %}
    {% if page_number == products.paginator.ELLIPSIS %}
        {{page_number}}
    {% else %}
        <a href="{% url 'main:category' category.slug %}?{% query page=page_number %}}"
            class="{% if page_number == products.number %}current{% endif %}">
            {{page_number}}
        </a>
    {% endif %}
{% endfor %} {% endcomment %}
<div class='my-4 mx-auto text-center'>

    
    {% comment %} <a href="{% url 'main:category' category.slug %}?{% query page=1%}" class="btn btn-secondary{% if products.number == 1 %} disabled  {%endif%}">First</a> {% endcomment %}
    {%block pagenum%} 
    {% for num in products.elided %}
        {% if num == products.number %}
    
        <a href="#" class="btn btn-secondary disabled mx-2">{{ num }}</a>
        {% elif num == products.paginator.ELLIPSIS %}
            <span class="">{{ products.paginator.ELLIPSIS }}</span>
        {%else%}
        <a href="{% url 'main:search' %}?{% query page=num%}" class="btn btn-secondary mx-2">
            {{ num }}
        </a>
        {% endif %}
        {% endfor %}
    {%endblock pagenum%}
    {% comment %} <a href="{% url 'main:category' category.slug %}?{% query page=products.paginator.num_pages%}" class="btn btn-secondary mx-2">
    Last
    </a> {% endcomment %}

    {% comment %} {% if page.has_next %}
    <a href="{% url 'main:category' category.slug %}?{% query page=products.next_page_number%}" class="btn btn-secondary mx-2">
        Next
    </a> {% endcomment %}
</div>