{% extends "user/userbase.html" %}
{%block title%}
{{ orders.first.user.username }} orders
{%endblock title%}

{% block page%}
<div class='card pt-2 ps-2 bg-light'>
    <div class='row pt-2 ps-3'>
        <h5 class='col-6'>Order number: {{order.id}}</h5>
        <p class="col-3 ">status: {{order.status}}</p>
        {% if order.status in 'Pending,Confirmed,Shipping'%}
        <a class='btn btn-outline-secondary col-2 pt-2 btn-sm text-middle' href='{% url 'user:order_cancel' order.id %}'> Cancel</a>
        {%endif%}
    </div>
    <h6 class='ps-3'>Ordered on {{order.created|date:"d M, Y"}}</h6>
    <div class='card shadow p-3 pb-0 m-3 '>
        <h6 class='ms-1'>Items: </h6>
        {% for item in order.order_items.all%}
        <div class="card-body py-0  ">
            <div class='row border-bottom' id="{{ item.product.id }}">
                <div class="col-3 pb-1 pt-2">
                    <div class="category-image">
                        <img src="{{ item.product.picture.url }}" class="w-100"/>
                    </div> 
                </div>
                <div class="col-9 border-start pb-2 pt-2">
                    <a href="{% url 'main:product' item.product.category.slug item.product.id %}" class="text-decoration-none"><h4 class='text-center text-secondary'>{{ item.product.name }}</h4></a>
                    <h5 class='text-center text-secondary'>${{ item.product.price }}</h5>
                    <div class='row pt-2 pb-2 ms-2'>
                        <div class='col-5'>
                            {{item.product.name}}
                        </div>
                        <div class='col-3'>
                            Unit price: {{item.price}}
                        </div>
                        <div class='col-3'>
                            Quantity: {{item.quantity}}
                        </div>
                    </div>
                    <div class='row pt-2 pb-2 ms-2'>

                    </div>
                    <div class="d-inline-block mt-md-4 float-end">
                        
                    </div>
                </div>
            </div>
        </div>
        {%endfor %}
        <div class='row my-3 ms-5'>
            <h5 class='col-6'>Total: {{order.total}}</h5>
        <h5 class="col-6">payment: {{order.payment}}</h5>
        </div>
    </div>
{%endblock page%}