{% extends "user/userbase.html" %}

{% block title %}
{{user.username}} Profile
{% endblock title %}

{% block page%}
<div class='card pt-2 ps-2 bg-light'>
    <div class='row pt-2 ps-3'>
        <h5 class='col-6'>User Details:</h5>
    </div>
    <div class='card shadow p-3 pb-0 m-3 '>
        <h6 class='ms-1 mb-3'>Username: {{request.user.username}}</h6>
        <h6 class='ms-1 '>Email: {{request.user.email}}</h6>
        <div class='row my-3 ms-5'>
            
        </div>
    </div>
</div>

{%endblock page%}